<div class="insurance-card row shadow-1"
[ngStyle]='{"background-color":insurance.color}'
(mouseenter)='toggleCheck()' (mouseleave)='toggleCheck()'>
  <div class="icon" (click)="checkPrimary()" *ngIf='showCheck'>
    <i class="material-icons">check</i>
  </div>
  <div class="icon2" (click)='remove()' *ngIf='showCheck'>
    <i class="material-icons">clear</i>
  </div>
  <div class="col-xs-12 title">
    {{ insurance.groupName }} <span *ngIf='insurance.primary'>(Primary)</span>
  </div>
  <div class="col-xs-12 value">
    ID: {{ insurance.memberId }}
  </div>
  <div class="col-xs-12 value">
    Start date: {{insurance.startDate}}
  </div>
</div>
