<div class='container'>
  <main class="main">
    <div class="row">
      <div class="col-sm-6 creator">
        <insurance-creator
          (createInsurance)='onCreateInsurance($event)'
        ></insurance-creator>
      </div>
      <div class="col-sm-6 alert">
        <alert type='danger' *ngIf='!profileComplete'>
          Profile info must be complete before insurance can be verified.
        </alert>
        <alert type='danger' *ngIf='insuranceError'>
          Server error, could not save insurances. Try another time.
        </alert>
        <alert type='success' *ngIf='insuranceSaved'>
          Insurance information saved!
        </alert>
      </div>
      <div class="insurances col-xs-12">
        <h3 class='text-center'>Current Insurances</h3>
          <insurance-card
            class="col-xs-12 col-sm-6"
            [insurance]="insurance"
            *ngFor='let insurance of insurances; let i=index'
            (checkedPrimary)='onCheckedPrimary(i)'
            (removed)='onRemoved(i)'>
          </insurance-card>
      </div>
    </div>
    <div class="row text-center">
      <button type='button' class='btn btn-primary' (click)='saveInsurances()'>
        <span class='glyphicon glyphicon-floppy-disk' aria-hidden='true'></span>
        &nbsp;Save Insurances</button>
    </div>
  </main>
</div>
