<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="page-header">
        <h1>Insurance</h1>
      </div>
      <p>We accept most major health insurance networks, auto cases, and worker's compensation.</p>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="text-center">
            <h4><u>Accepted networks</u></h4>
          </div>
          <ul class="list-group text-center">
            <li class="list-group-item">Aetna</li>
            <li class="list-group-item">American Specialty Health</li>
            <li class="list-group-item">Anthem Blue Cross</li>
            <li class="list-group-item">Blue Shield of California</li>
            <li class="list-group-item">Cigna</li>
            <li class="list-group-item">Health Net</li>
            <li class="list-group-item">Optum Health</li>
            <li class="list-group-item">United Health Care</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="side-menu">
        <div class="media">
          <div class="media-left media-middle">
             <a href="javascript:void( window.open( 'https://form.jotform.us/50855923828163', 'blank', 'scrollbars=yes, toolbar=no, width=700, height=500' ) ) ">
               <span class="glyphicon glyphicon-search font" aria-hidden='true'></span>
             </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Check Insurance</h4>
            To verify if you have acupuncture coverage,
            please submit your information through our secure form by clicking the icon to the left.
          </div>
      </div>
    </div>
  </div>
</div>
