<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="page-header">
        <h1>Insurance</h1>
      </div>
      <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </p>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <ul class="list-group text-center">
            <li class="list-group-item">Aetna</li>
            <li class="list-group-item">American Specialty Health</li>
            <li class="list-group-item">Anthem Blue Cross</li>
            <li class="list-group-item">Blue Shield of California</li>
            <li class="list-group-item">Cigna</li>
            <li class="list-group-item">Health Net</li>
            <li class="list-group-item">Optum Health</li>
            <li class="list-group-item">United Health Care</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="side-menu">
        <div class="media">
          <div class="media-left media-middle">
             <span class="glyphicon glyphicon-search font" aria-hidden='true'></span>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Check Insurance</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
