<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-push-2">
      <div class="page-header">
        <h1>Appointment</h1>
      </div>
      <p>To make an appointment with us, you can call us at (650) 799-9088 or
        schedule online below. Same day appointments can be made only via phone.
      </p>

      <router-outlet></router-outlet>
      <div *ngIf='showButtons'>
        <div class="row">
          <div class="col-sm-6 text-center">
            <h3>New patients</h3>
            <p>
              <button routerLink='full' type='button' class='btn btn-success btn-lg'>Consultation & treatment</button>
            </p>
            <p>
              <button routerLink='consultation' type='button' class='btn btn-success btn-lg'>Consultation only</button>
            </p>
          </div>
          <div class="col-sm-6 text-center">
            <h3>Returning patients</h3>
            <button routerLink='follow-up' type='button' class='btn btn-success btn-lg'>Follow-up treatment</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
