<h3>Consent Form</h3>
<h4>Please read and sign this form before receiving treatment</h4>
<div class="row consentForm">
  <div class="col-sm-8 col-sm-push-2">
    <h4 class='text-center'>Information about Acupuncture Treatment</h4>
    <p><span class='indent'></span>
      Acupuncture is a healing art that involves the stimulation of specific points on the body. It has the effect of normalizing physiological function, modifying the perception of pain, and treating certain diseases or dysfunctions of the body. The stimulation may be produced by needles, heat, digital pressure, electric currents, or other means, but most frequently produced by needling. Herbs and nutritional supplements may be recommended and are considered safe in the practice of Chinese Medicine.</p>
    <p><span class='indent'></span>Acupuncture is considered a safe method of treatment, but occasionally there may be some bruising or tingling near the needling sites that last a few days. There have been rare instances reported in which a patient fainted, developed a scar or infection, experiences a spontaneous abortion, or sustained a pneumothorax (air in the chest cavity that could cause a collapsed lung), or got burnt on heat treatment.
    Contraindications for acupuncture treatment and certain herbs include history of a bleeding disorder or current anticoagulant therapy, an implanted pacemaker or prosthetic heart valve, use of certain medication, and/or pregnancy.
    </p>
    <h4 class='text-center'>Insurance Information Disclosure</h4>
    <p>
      <span class='indent'></span>
      I give permission to Aculau Acupuncture to release information to my insurance company for claim processing and for direct payment of medical benefits to Aculau Acupuncture for services provided.
    </p>
    <h4 class='text-center'>Consent to Acupuncture Treatment</h4>
    <p>
      <span class='indent'></span>
    Aculau Acupuncture and/or associates, has explained the benefits and possible risks of treatment by acupuncture and use of Chinese herbal medicine to me. My questions have been answered and I wish to proceed with acupuncture treatment. No guarantee of results have been made.
    I do not have an implanted or prosthetic heart valve. I do not take steroids or anticoagulants.
    I may request a copy of this information and consent form at any time.
    I also understand that acupuncture might cause some discomfort such as pain, bruising, numbness, etc..
    I have read this information sheet and consent to receive acupuncture treatment.
    </p>
    <h4 class='text-center'>Data usage and security disclosure</h4>
    <p>(Additional terms pertaining to HIPAA regulations and data security...)</p>
    <form class='form-horizontal' [formGroup]='consentForm'>
      <div class="form-group col-sm-10">
        <label for="signature" class='col-sm-4'>Full Name</label>
      <div class="input-group col-sm-8">
        <span class='input-group-addon'><i class='glyphicon glyphicon-pencil' aria-hidden='true'></i></span>
        <input type='text' class='form-control' id='signature' formControlName='signature'/>
      </div>
    </div>
    <div class='form-group col-sm-10'>
      <label for='date' class='col-sm-4'>Date</label>
      <div class="col-sm-4">{{date|date}}</div>
    </div>
  </form>
  <button type='button' class='btn btn-default' (click)='onSubmit()'
  [disabled]='consentForm.invalid'>Submit</button>
  </div>
</div>
