<div class="container">
  <h2>
    Appointments
  </h2>
  <alert type='success'>
    You have successfully scheduled an appointment for January 15th 2018, 3:30 pm. <a><strong>Click here</strong></a> to reschedule or cancel.
  </alert>
  <!-- <alert type='info'>
    You have no scheduled appointments. <a><strong>Click here</strong></a> to schedule one.
  </alert>
  <alert type="warning">
    You have an upcoming appointment on February 17th 2018, 2:00 pm.
  </alert>
  <alert type="danger">
    Error occured, could not schedule appointment. Please try again.
  </alert> -->
  <!-- <button type="button" class="btn btn-default btn-lg">

</button> -->
<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-4">
    <div class="thumbnail">
      <a class='thumb-hover'>
      <span class="glyphicon glyphicon-calendar text-center" style='display:block; font-size:100px' aria-hidden="true"></span>
      <div class="caption">
        <h3 class='text-center'>Make an appointment</h3>
      </div>
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4">
    <div class="thumbnail">
      <a class='thumb-hover'>
      <span class="glyphicon glyphicon-pencil text-center" style='display:block; font-size:100px' aria-hidden="true"></span>
      <div class="caption">
        <h3 class='text-center'>Cancel or Reschedule</h3>
      </div>
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4">
    <div class="thumbnail">
      <a class='thumb-hover'>
      <span class="glyphicon glyphicon-time text-center" style='display:block; font-size:100px' aria-hidden="true"></span>
      <div class="caption">
        <h3 class='text-center'>Visit History</h3>
      </div>
      </a>
    </div>
  </div>
</div>
  <!-- <iframe src="https://app.acuityscheduling.com/schedule.php?owner=13202886" width="70%" height="800" frameBorder="0"></iframe>
<script src="https://d3gxy7nm8y4yjr.cloudfront.net/js/embed.js" type="text/javascript"></script> -->
</div>
