input.ng-invalid.ng-touched.ng-dirty {
  background-color: rgb(212, 129, 129);
  border: transparent;
}

@media only screen and (min-width: 768px){
  #sign-in{
    margin-top: 130px;
  }
}

#sign-in{
  color:#CDE1C9;
}

.submit{
  margin-top:15px;
  padding-left:50px;
  padding-right:50px;
}

input.ng-valid:not(:focus){
  background-color: #CDE1C9;
}
