<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="page-header">
        <h1>Services</h1>
      </div>
      <div class="media">
        <div class="media-left media-middle">
          <img class="media-object" src="../../assets/acu_icon.png"
           alt="Acupuncture needles">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Acupuncture and Electroacupuncture</h4>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </div>
      <div class="media">
        <div class="media-left media-middle">
          <img class="media-object" src="../../assets/herbs.png"
           alt="Herbs">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Herbal Medicine</h4>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </div>
      <div class="media">
        <div class="media-left media-middle">
          <img class="media-object" src="../../assets/massage.png"
           alt="Massage">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Integrative Massage</h4>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </div>
      <div class="media">
        <div class="media-left media-middle">
          <img class="media-object" src="../../assets/cupping.png"
           alt="Massage">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Cupping</h4>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h3>Schedule appointment</h3>
      <button class='btn btn-primary'>Schedule appointment</button>
    </div>
  </div>
</div>
