.fa{
  font-size:70px;
  margin-left: 13px;
  margin-right: 13px;
  color:rgb(158, 77, 0);
}

@media screen and (max-width:768px){
  .side-menu{
    display: none;
  }

  .page-header{
    margin-top:20px;
  }
}

ul{
  list-style-type: none;
  font-size: 16px;
  padding-bottom: 14px;
}

ul>li{
  margin-bottom: 14px;
}

@media screen and (min-width:768px){
  .h3margin{
    padding-top: 13px;
  }
}
