h1, h3{
  color:rgba(205,225,201,1);
}

.page-header{
  border-bottom: 1px solid #CDE1C9;
}

.media-object{
  width:96px;
}

.media{
  margin-bottom: 26px;
}

@media screen and (min-width:768px){
  .side-menu{
    margin-top:119px;
  }
}

@media screen and (max-width:768px){
  .side-menu{
    display: none;
  }
}

.font{
  font-size: 50px !important;
  color:#D1D1D1;
}
