<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <a class="navbar-brand" routerLink=''>Aculau</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf='isLoggedIn()'><a routerLink='user/dashboard'>Dashboard</a></li>
        <li><a href="#">Visit history</a></li>
        <li class="dropdown" dropdown>
          <a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle>*Username <span class="caret"></span></a>
          <ul class="dropdown-menu" dropdownMenu >
            <li><a href="#">Schedule appointment</a></li>
            <li><a href="#">Cancel appointment</a></li>
            <li><a href="#">Manage preferences</a></li>
            <li><a routerLink='register'>Register an account</a></li>
            <li role="separator" class="divider"></li>
            <li *ngIf='!isLoggedIn()'><a routerLink='user/signin'>Sign in</a></li>
            <li *ngIf='isLoggedIn()'><a style='cursor:pointer' (click)='onSignOut()'>Sign out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
