.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-toggle{
  border: none;
}
.navbar-right {
  float: right!important;
}

.navbar {
  margin-bottom: 0px !important;
  background-color: #408E2F;
  /*background-color: #373a37;*/
}

.navbar-header>a{
  color:#CDE1C9;
}

.navbar-nav>li>a{
  color:#CDE1C9;
}

.navbar-nav>li>a:hover{
  background-color: #373a37
}
.navbar-inverse{
  border:none;
}

.navbar-nav >.open>a{
  background-color: #373a37;
}

@media (min-width: 768px){
.navbar {
    border-radius: 0px;
  }
}

.dropdown-menu{
  background-color: #373a37;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #CDE1C9;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media screen and (min-width:768px){
  .sidenav{
    display:none;
  }
}
