<h3>Update Password</h3>
<div class="container">
  <div class="row">
    <div [@alertState]='passwordAlertState'>
      <alert type='success' *ngIf='passwordSaved'>
        Password has been succesfully updated
      </alert>
      <alert type='danger' *ngIf='passwordUnsuccessful'>
        Unable to update, incorrect password
      </alert>
    </div>
    <div class="col-sm-6 col-sm-push-3">
    <form class='form-horizontal' [formGroup]='passwordForm'>
      <div class="form-group">
        <label for="currentPassword" class='col-sm-4'>Current password</label>
        <div class="input-group col-sm-8">
          <span class="input-group-addon"><i class="fa fa-key" aria-hidden='true'></i></span>
          <input type="password" class='form-control' id='currentPassword'
          formControlName='currentPassword'>
        </div>
      </div>
      <div class="form-group">
        <label for="newPassword" class='col-sm-4'>New password</label>
        <div class="input-group col-sm-8">
          <span class="input-group-addon"><i class="fa fa-unlock-alt" aria-hidden='true'></i></span>
          <input type="password" class='form-control' id='newPassword' reverse='true'
          formControlName='newPassword' validateEqual='retypePassword'>
        </div>
        <small [hidden]="passwordForm.controls.newPassword.valid || passwordForm.controls.newPassword.pristine" class="text-danger">
          New password must be 6 characters in length or greater.</small>
      </div>
      <div class="form-group">
        <label for="retypePassword" class='col-sm-4'>Retype password</label>
        <div class="input-group col-sm-8">
          <span class="input-group-addon"><i class="fa fa-unlock-alt" aria-hidden='true'></i></span>
          <input type="password" class='form-control' id='retypePassword' reverse='false'
          formControlName='retypePassword' validateEqual='newPassword'>
        </div>
        <small [hidden]="passwordForm.controls.retypePassword.valid || passwordForm.controls.retypePassword.pristine" class="text-danger">
          Passwords must match</small>
      </div>
      <div class="col-sm-8 col-sm-push-4">
        <button [disabled]='passwordForm.invalid || passwordSaved' type='button' class='btn btn-success' (click)='onUpdatePassword()'>
          <span class='glyphicon glyphicon-floppy-disk' aria-hidden='true'></span>&nbsp;Save new password</button>
      </div>
    </form>
    </div>
  </div>
</div>
