input.ng-invalid.ng-touched {
  border: 2px solid rgb(200, 0, 0);
}

#register{
  color:#CDE1C9;
  margin-bottom: 20px;
}

ul >li{
  background-color: #222;
  color:rgba(255, 255, 255, 0.5);
}

.form-control{
  background-color: #CDE1C9;
  color:black;
}

@media only screen and (min-width: 768px){
  #register{
    margin-top: 130px;
  }
}

.submit{
  margin-top:25px;
  padding-left:50px;
  padding-right:50px;
}
