input.ng-invalid.ng-touched.ng-dirty {
  background-color: rgb(212, 129, 129);
  border: transparent;
}

#register{
  color:#CDE1C9;
  margin-bottom: 20px;
}

ul >li{
  background-color: #222;
  color:rgba(255, 255, 255, 0.5);
}

.form-control{
  color:black;
}

input.ng-valid:not(:focus){
  background-color: #CDE1C9;
}

@media only screen and (min-width: 768px){
  #register{
    margin-top: 130px;
  }
}

.submit{
  margin-top:25px;
  padding-left:50px;
  padding-right:50px;
}
