#register{
  color:#CDE1C9;
  margin-bottom: 20px;
}

ul >li{
  background-color: #222;
  color:rgba(255, 255, 255, 0.5);
}

@media only screen and (min-width: 768px){
  #register{
    margin-top: 130px;
  }
}

.submit{
  margin-top:20px;
  padding-left:50px;
  padding-right:50px;
}

.alert.alert-danger{
  padding-top: 8px;
  padding-bottom: 8px;
}
