<h3 class='text-center'>Are you Jh0n L33?</h3>

<div class="row">
  <div class="col-xs-6 col-sm-4 col-sm-push-2">
    <button class="btn btn-success btn-lg btn-block">Yes</button>
  </div>
  <div class="col-xs-6 col-sm-4 col-sm-push-2">
    <button class="btn btn-danger btn-lg btn-block">No</button>
  </div>
</div>

<!-- <div class='row'>
<div class="col-xs-6">
  <div class="thumbnail">
    <a class='thumb-hover'>
    <span class="glyphicon glyphicon-ok text-center" style='display:block; font-size:50px; color:green; background-color:inherit' aria-hidden="true"></span>
    <div class="caption">
      <h3 class='text-center'>Yes</h3>
    </div>
    </a>
  </div>
</div>
<div class="col-xs-6">
  <div class="thumbnail">
    <a class='thumb-hover'>
    <span class="glyphicon glyphicon-remove text-center" style='display:block; font-size:50px; color:red' aria-hidden="true"></span>
    <div class="caption">
      <h3 class='text-center'>No</h3>
    </div>
    </a>
  </div>
</div>

</div> -->
<!-- <iframe src="https://app.acuityscheduling.com/schedule.php?owner=13202886&appointmentType=2462595" width="100%" height="600" frameBorder="0"></iframe> -->
