  <h2>
    Dashboard
  </h2>
  <alert type='success'>
    You have successfully scheduled an appointment for January 15th 2018, 3:30 pm. <a><strong>Click here</strong></a> to reschedule or cancel.
  </alert>
  <!-- <alert type='info'>
    You have no scheduled appointments. <a><strong>Click here</strong></a> to schedule one.
  </alert>
  <alert type="warning">
    You have an upcoming appointment on February 17th 2018, 2:00 pm.
  </alert>
  <alert type="danger">
    Error occured, could not schedule appointment. Please try again.
  </alert> -->
  <!-- <button type="button" class="btn btn-default btn-lg">

</button> -->
<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-4">
    <div class="thumbnail">
      <a class='thumb-hover' routerLink='../appointments-list'>
      <span class="glyphicon glyphicon-list text-center" style='display:block; font-size:100px' aria-hidden="true"></span>
      <div class="caption">
        <h3 class='text-center'>View appointments</h3>
      </div>
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4">
    <div class="thumbnail">
      <a class='thumb-hover' routerLink='../schedule'>
      <span class="glyphicon glyphicon-calendar text-center" style='display:block; font-size:100px' aria-hidden="true"></span>
      <div class="caption">
        <h3 class='text-center'>Make an appointment</h3>
      </div>
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4">
    <div class="thumbnail">
      <a class='thumb-hover' routerLink='../profile'>
      <span class="glyphicon glyphicon-user text-center" style='display:block; font-size:100px' aria-hidden="true"></span>
      <div class="caption">
        <h3 class='text-center'>My Profile</h3>
      </div>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <!-- <div class="col-xs-12 col-sm-4 col-md-4">
    <div class="thumbnail">
      <a class='thumb-hover'>
      <span class="glyphicon glyphicon-cog text-center" style='display:block; font-size:100px' aria-hidden="true"></span>
      <div class="caption">
        <h3 class='text-center'>Account management</h3>
      </div>
      </a>
    </div>
  </div> -->
  <div class="col-xs-12 col-sm-4 col-md-4">
    <div class="thumbnail">
      <a class='thumb-hover'>
      <span class="fa fa-comment text-center" style='display:block; font-size:100px' aria-hidden="true"></span>
      <div class="caption">
        <h3 class='text-center'>Chat with our office</h3>
      </div>
      </a>
    </div>
  </div>
</div>
