<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="page-header">
        <h1>About</h1>
      </div>
      <p>Since 2001, Alex Lau Acupuncture has been a family-run business serving the Foster City Bay Area for over 16 years to deliver
quality acupuncture services. We have nurtured our community with exceptional care and are highly trusted amongst health professionals.
      </p>
      <div class="row" style='padding-top:36px'>
        <div class="person col-md-5">
          <img class="img-responsive center-block" src="../../assets/alex_lau.jpg" alt="Alex Lau">
        </div>
        <div class="person-detail col-md-7">
          <h3>Alex Lau, L.Ac.</h3>
          <p>Alex Lau is a board certified acupuncturist in the state of California with nearly two decades of experience. He is the designated onsite acupuncturist at Electronic Arts and Oracle Corporation. Alex holds a Masters from American College of Traditional Chinese Medicine and Bachelors from Columbia University. </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="side-menu">
      <div class="media">
        <div class="media-left media-middle">
           <a routerLink='/appointment'><span class="glyphicon glyphicon-calendar font" aria-hidden='true'></span></a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Schedule</h4>
          <p>Schedule an appointment to feel better sooner than later. Just click the icon to the left!</p>
        </div>
      </div>
      <div class="media">
        <div class="media-left media-middle">
           <span class="glyphicon glyphicon-earphone font" aria-hidden='true'></span>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Call us</h4>
          <p>We are available to answer your questions at (650) 799-9088.</p>
        </div>
      </div>
      <div>
        <h4 class='text-center'>Check us out on Yelp:</h4>
        <div id="yelp-biz-badge-rrc-i90qGSHnWWxXLSo9FLCpaw" class='text-center'><a href="http://yelp.com/biz/alex-lau-acupuncture-and-herbs-foster-city?utm_medium=badge_star_rating_reviews&amp;utm_source=biz_review_badge" target="_blank"></a></div>
      </div>
    </div>
    </div>
  </div>
</div>
