<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="page-header">
        <h1>About</h1>
      </div>
      <p>Since 2001, Alex Lau Acupuncture has been a family-run business serving the Foster City Bay Area for over 16 years to deliver
quality acupuncture services. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </p>
    </div>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2" id='profile'>
      <div class="row">
        <div class="person col-md-5">
          <img class="img-responsive image-center" src="../../assets/alex_lau.jpg" alt="Alex Lau">
        </div>
        <div class="person-detail col-md-7">
          <h3>Alex Lau, L.Ac.</h3>
          <p>Alex Lau is a board certified acupuncturist in the state of California with nearly two decades of experience. He is the designated onsite acupuncturist at Electronic Arts and Oracle Corporation. Alex holds a Masters from American College of Traditional Chinese Medicine and Bachelors from Columbia University. </p>
        </div>
      </div>
  </div>
</div>
</div>
