div>i{
  font-size: 80px;
}

.jumbotron{
  background-image: url(../../assets/11.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 75%;
  height:65vh;
  display:flex;
  align-items: center;
  color:white;
}

body{
  background-color: #222;  
}
#three-columns{

  color:#CDE1C9;
}
