div>i{
  font-size: 80px;
}

.jumbotron{
  background-image: url(../../assets/zen.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 75%;
  height:65vh;
  display:flex;
  align-items: center;
  color:white;
  margin-bottom: 0px;
}

#three-columns{
  padding-top: 48px;
  padding-bottom:70px;
  background: #222;
  color:#CDE1C9;
}

@media screen and (max-width: 768px){
  .jumbotron{
    background-position:75%;
  }
}

@media screen and (max-height:700px){
  .jumbotron{
    height:87vh;
  }
}
