div>i{
  font-size: 70px;
}

.jumbotron{
  /*background-image: url(../../assets/zen.jpg);*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 75%;
  height:65vh;
  display:flex;
  align-items: center;
  color:white;
  margin-bottom: 0px;
  transition: opacity 800ms;
  opacity: 0;
}

.ng-lazyloaded{
  opacity:1;
}

#three-columns{
  padding-top: 48px;
  padding-bottom:70px;
  background: #222;
  color:#CDE1C9;
}

@media screen and (max-width: 768px){
  .jumbotron{
    background-position:75%;
  }

  .body-text{
    padding-bottom: 26px;
  }
}

@media screen and (max-height:700px){
  .jumbotron{
    height:87vh;
  }
}

.body-text{
  margin-top: 16px;
  font-size: 18px;
  line-height: 1.5em;
}
