<div class="jumbotron">
  <div class="container">
  <h1>My Clinic</h1>
  <p>We provide acupuncture services and herbal remedies.</p>
  <p>
    <a class="btn btn-success btn-lg" routerLink='patients/register' role="button">Create account</a>
    <a class="btn btn-success btn-lg" routerLink='patients/signin' role="button">Login</a>
  </p>
</div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="text-center">
      <h2>1. Create an account</h2>
      <i class="fa fa-user" aria-hidden="true"></i>
  </div>
  </div>
  <div class="col-sm-4">
    <div class="text-center">
      <h2>2. Make an appointment</h2>
      <i class="fa fa-calendar" aria-hidden="true"></i>
  </div>
  </div>
  <div class="col-sm-4">
    <div class="text-center">
      <h2>3. Get treatment</h2>
      <i class="fa fa-user-md" aria-hidden="true"></i>
  </div>
  </div>
</div>
