li{
  list-style: none;
  font-size: 16px;
}

i.fa{
  padding-right:12px;
}

ul{
  -webkit-padding-start: 0px;
}

span{
  font-weight:bold;
}

ul>li{
  margin-bottom: 16px;
}

address{
  font-size: 16px;
  color:#CDE1C9;
}

agm-map{
  height:300px;
}

.regular{
  color:black;
  text-align: left;
}
