<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="page-header">
        <h1>Contact</h1>
      </div>
      <ul>
      <li><i class="fa fa-map-marker"></i><span>Address:</span> 1098 Foster City Blvd. Ste 301, Foster City, CA 94404</li>
      <li><i class="fa fa-phone"></i><span>Phone:</span> (650) 212-7298</li>
      <li><i class="fa fa-fax"></i><span>Fax:</span> (650) 212-7298</li>
      <li><i class="fa fa-envelope"></i><span>Email:</span> aculau@gmail.com</li>
    </ul>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="side-menu">
        <h3>Hours</h3>
        <ul>
          <li><i class="fa fa-calendar"></i><span>Monday - Friday:</span> 10:00 AM to 5:00 PM</li>
          <li><i class="fa fa-calendar"></i><span>Saturday:</span> 9:00 AM to 12:00 PM</li>
        </ul>
      </div>
    </div>
  </div>
</div>
