<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-sm-offset-2">
      <div class="page-header">
        <h1>Contact</h1>
      </div>
      <address>
        <strong>Alex Lau Acupuncture and Herbs</strong><br>
        1098 Foster City Blvd. Ste 301 <br>
        Foster City, CA 94404 <br>
        Phone: (650) 212-7298 <br>
        Email: aculau@gmail.com
      </address>
      <h3>
        Location
      </h3>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="side-menu text-center">
        <h3><span class='glyphicon glyphicon-time' aria-hidden='true'></span>Hours</h3>
        <ul>
          <li><span>Monday</span><br> 8:30 AM to 5:00 PM</li>
          <li><span>Tuesday</span><br> 8:30 AM to 5:00 PM</li>
          <li><span>Wednesday</span><br> 8:30 AM to 10:00 AM<br /> 3:00 PM to 5:00 PM </li>
          <li><span>Thursday</span><br> 8:30 AM to 5:00 PM</li>
          <li><span>Friday</span><br> 8:30 AM to 5:00 PM</li>
          <li><span>Saturday</span><br> 8:30 AM to 12:00 PM</li>
        </ul>
      </div>
    </div>
  </div>
</div>
